/* <================ ""MAIN" content styles==============> */
:root {
  /* Text color variable */
  --text-color-accent: #2196f3;
  --text-color-standart: #757575;
  --text-color-black: #000000;
  --text-color-head-black: #212121;
  --text-color-h-black: #212121;
  --text-color-h-white: #ffffff;
  --text-color-address-map: #ffffff;
  --text-color-address-link: rgba(255, 255, 255, 0.6);

  /* button color variable */
  /* <-------button-hero-----------> */
  --button-hero-text-color: #ffffff;
  --button-hero-backgr-color: #2196f3;
  --button-hero-text-active-color: #ffffff;
  --button-hero-bacgr-active-color: #188ce8;
  /* <--------button-portfolio-------> */
  --button-text-color: #212121;
  --button-active-text-color: #ffffff;
  --button-bcgr-color: #f5f4fa;
  --button-active-bcgr-color: #2196f3;

  /* background color variable */
  --color-ourteam-backgr: #f5f4fa;
  --color-footer-backgr: #2f303a;
}
/* <===== Плавный скрол между header and footer ====> */
/* 
html {
  scroll-behavior: smooth;
} 
*/

/*<================ Global stylesheets ===========> */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--text-color-standart);
}
/* <=================== page Studio ===================> */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid orange;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: aqua;
  outline: 1px solid orange;
}

/* <------------------ header ------------------> */
.header {
  border-bottom: 1px solid #ececec;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.head-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.head-nav {
  display: flex;
  flex-direction: flex;
  align-items: center;
}
header .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.15;

  text-decoration: none;
  color: var(--text-color-black);
  scroll-behavior: smooth;

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
footer .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.15;

  text-decoration: none;
  color: var(--text-color-black);
  scroll-behavior: smooth;

  display: inline-block;
  padding-top: 60px;
  margin-bottom: 20px;
}
.logo-web {
  color: var(--text-color-accent);
}
.nav {
  display: flex;
  flex-direction: row;
}
.nav-item {
  list-style: none;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-item-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--text-color-head-black);
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--text-color-accent);
}
.nav-item-link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--text-color-accent);
}
.head-cont {
  display: flex;
  margin-left: auto;
  margin-right: 16px;

  list-style: none;
}
.head-cont-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--text-color-standart);

  /* margin-left: 50px; */
}
.head-cont-item + .head-cont-item {
  margin-left: 50px;
}
.head-cont-link:hover,
.head-cont-link:focus {
  color: var(--text-color-accent);
}

/* <------------------- hero side ----------------> */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-color-h-white);
  background-color: #2f303a;

  width: 696px;
  margin-top: 106px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-button-position {
  text-align: center;
}
.hero-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  letter-spacing: 0.06em;
  color: var(--button-hero-text-color);
  background-color: var(--button-hero-backgr-color);
  cursor: pointer;

  display: inline-block;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  margin-bottom: 106px;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--button-hero-text-active-color);
  background-color: var(--button-hero-bacgr-active-color);
}
/* <----------------webstudio prefs -----------------> */
.prefs {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.prefs-item {
  margin-right: 30px;

  width: 270px;
}
.prefs-item:last-child {
  margin-right: 0;
}
.prefs-item-h {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.15;
  text-transform: uppercase;

  color: var(--text-color-h-black);

  margin-bottom: 10px;
}
.prefs-item-p {
  /* this style's in our body */
}

/* <------------------- what we do ------------------> */
.wedo {
}
.wedo-h {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--text-color-h-black);

  margin-bottom: 50px;
}
.wedo-list {
  font-size: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wedo-item {
  margin-right: 30px;
}
.wedo-item:last-child {
  margin-right: 0;
}

/* <-------------------our team-------------------> */
.team {
  background-color: var(--color-ourteam-backgr);
}
.team-h {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--text-color-h-black);

  margin-bottom: 50px;
}
.team-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team-item {
  font-size: 0;

  /* outline: 1px solid orange; */
  margin-right: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
  margin-right: 0;
}
.team-item-i {
  margin-bottom: 30px;
}
.team-item-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /*---------------- identical to box height ????????????? */
  text-align: center;

  color: var(--text-color-h-black);

  display: inline-block;
  margin-bottom: 10px;
}
.team-item-p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  color: var(--text-color-standart);

  display: inline-block;
  margin-bottom: 30px;
}

/* <--------------------footer-------------------> */
.footer {
  background-color: var(--color-footer-backgr);
}
.footer-adress {
  padding-bottom: 60px;
}
.footer-adress-list {
  list-style: none;
}
.footer-adress-item {
  margin-bottom: 9px;
  /* or 171% */
}
.footer-adress-item:last-child {
  margin-bottom: 0;
  /* or 171% */
}
.footer-adress-map {
  font-style: normal;
  /* or 171% */

  color: var(--text-color-address-map);
  text-decoration: none;
}
.footer-adress-map:hover,
.footer-adress-map:focus {
  color: var(--text-color-accent);
}
.footer-adress-cont {
  font-style: normal;

  color: var(--text-color-address-link);
  text-decoration: none;
}
.footer-adress-cont:hover,
.footer-adress-cont:focus {
  color: var(--text-color-accent);
}

/* <==========  page Portfolio "different styles" ========> */
.hiden-title {
  font-size: 0;
  visibility: hidden;
}

/* <---------portfolio buttons --------> */
.portf-buttons {
  list-style: none;
}
.buttons {
}
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--button-text-color);
  background-color: var(--button-bcgr-color);

  /* border-radius: 4px; */
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--button-active-text-color);
  background-color: var(--button-active-bcgr-color);
}

/* <-----------portfolio card list-----------> */
.portf {
}
.portf-list {
  list-style: none;
}
.portf-item {
}
.portf-img {
}
.portf-h {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--text-color-h-black);
}
.portf-p {
  font-size: 16px;
  line-height: 1.87;

  color: var(--text-color-standart);
}
